config/database.yml
db/schema.rb
log/*
tmp/*
.DS_Store
vendor/bin
vendor/gems
vendor/doc
vendor/specifications
vendor/ruby
vendor/plugins/query_trace
.bundle/environment.rb
coverage
ci_reports
spec/spec.opts
build/*
.idea
.bundle/config
webrat.log