$shade1:        #000000;
$shade2:        #111111;
$shade3:        #222222;
$shade4:        #333333;
$shade5:        #444444;
$shade6:        #555555;
$shade7:        #666666;
$shade8:        #777777;
$shade9:        #888888;
$shade10:       #999999;
$shade11:       #AAAAAA;
$shade12:       #BBBBBB;
$shade12:       #CCCCCC;
$shade13:       #DDDDDD;
$shade14:       #EEEEEE;
$shade15:       #FFFFFF;

$red:           #FF0000;
$green:         #16DE7A;
$blue:          #3A6EFC;
