$dimension-xxxxs:   2px;
$dimension-xxxs:    5px;
$dimension-xxs:     10px;
$dimension-xs:      20px;
$dimension-s:       30px;
$dimension-m:       40px;
$dimension-l:       50px;
$dimension-xl:      60px;
$dimension-xxl:     80px;
$dimension-xxxl:    100px;
$dimension-xxxxl:   160px;
$dimension-xxxxxl:  300px;
