$fade-decimal-xs:   0.9;
$fade-decimal-s:    0.75;
$fade-decimal-m:    0.5;
$fade-decimal-l:    0.25;
$fade-decimal-xl:   0.1;

$fade-integer-xs:   90;
$fade-integer-s:    75;
$fade-integer-m:    50;
$fade-integer-l:    25;
$fade-integer-xl:   10;