$font-size-xxxs:  12px;
$font-size-xxs:   14px;
$font-size-xs:    16px;
$font-size-s:     18px;
$font-size-m:     20px;
$font-size-l:     24px;
$font-size-xl:    32px;
$font-size-xxl:   48px;
$font-size-xxxl:  72px;

$font-weight-s:     300;
$font-weight-m:     400;
$font-weight-l:     700;

$letter-spacing-xs: 0px;
$letter-spacing-s:  1px;
$letter-spacing-m:  2px;
$letter-spacing-l:  5px;
$letter-spacing-xl: 10px;
