$space-xxxx-small:  1px;
$space-xxx-small:   5px;
$space-xx-small:    7.5px;
$space-x-small:     10px;
$space-small:       15px;
$space-medium:      20px;
$space-large:       30px;
$space-x-large:     40px;
$space-xx-large:    50px;
$space-xxx-large:   60px;
$space-xxxx-large:  80px;