.bg-n, .bg-n-hover:hover, .active .bg-n-active, .active .bg-n-active:hover {
  background-color: transparent;
}

.c-1, .c-1-hover:hover, .active .c-1-active, .active .c-1-active:hover {
  color: $shade1;
}

.bg-1, .bg-1-hover:hover, .active .bg-1-active, .active .bg-1-active:hover {
  background-color: $shade1;
}

.c-2, .c-2-hover:hover, .active .c-2-active, .active .c-2-active:hover {
  color: $shade2;
}

.bg-2, .bg-2-hover:hover, .active .bg-2-active, .active .bg-2-active:hover {
  background-color: $shade2;
}

.c-3, .c-3-hover:hover, .active .c-3-active, .active .c-3-active:hover {
  color: $shade3;
}

.bg-3, .bg-3-hover:hover, .active .bg-3-active, .active .bg-3-active:hover {
  background-color: $shade3;
}

.c-4, .c-4-hover:hover, .active .c-4-active, .active .c-4-active:hover {
  color: $shade4;
}

.bg-4, .bg-4-hover:hover, .active .bg-4-active, .active .bg-4-active:hover {
  background-color: $shade4;
}

.c-5, .c-5-hover:hover, .active .c-5-active, .active .c-5-active:hover {
  color: $shade5;
}

.bg-5, .bg-5-hover:hover, .active .bg-5-active, .active .bg-5-active:hover {
  background-color: $shade5;
}

.c-6, .c-6-hover:hover, .active .c-6-active, .active .c-6-active:hover {
  color: $shade6;
}

.bg-6, .bg-6-hover:hover, .active .bg-6-active, .active .bg-6-active:hover {
  background-color: $shade6;
}

.c-7, .c-7-hover:hover, .active .c-7-active, .active .c-7-active:hover {
  color: $shade7;
}

.bg-7, .bg-7-hover:hover, .active .bg-7-active, .active .bg-7-active:hover {
  background-color: $shade7;
}

.c-8, .c-8-hover:hover, .active .c-8-active, .active .c-8-active:hover {
  color: $shade8;
}

.bg-8, .bg-8-hover:hover, .active .bg-8-active, .active .bg-8-active:hover {
  background-color: $shade8;
}

.c-9, .c-9-hover:hover, .active .c-9-active, .active .c-9-active:hover {
  color: $shade9;
}

.bg-9, .bg-9-hover:hover, .active .bg-9-active, .active .bg-9-active:hover {
  background-color: $shade9;
}

.c-10, .c-10-hover:hover, .active .c-10-active, .active .c-10-active:hover {
  color: $shade10;
}

.bg-10, .bg-10-hover:hover, .active .bg-10-active, .active .bg-10-active:hover {
  background-color: $shade10;
}

.c-11, .c-11-hover:hover, .active .c-11-active, .active .c-11-active:hover {
  color: $shade11;
}

.bg-11, .bg-11-hover:hover, .active .bg-11-active, .active .bg-11-active:hover {
  background-color: $shade11;
}

.c-12, .c-12-hover:hover, .active .c-12-active, .active .c-12-active:hover {
  color: $shade12;
}

.bg-12, .bg-12-hover:hover, .active .bg-12-active, .active .bg-12-active:hover {
  background-color: $shade12;
}

.c-13, .c-13-hover:hover, .active .c-13-active, .active .c-13-active:hover {
  color: $shade13;
}

.bg-13, .bg-13-hover:hover, .active .bg-13-active, .active .bg-13-active:hover {
  background-color: $shade13;
}

.c-14, .c-14-hover:hover, .active .c-14-active, .active .c-14-active:hover {
  color: $shade14;
}

.bg-14, .bg-14-hover:hover, .active .bg-14-active, .active .bg-14-active:hover {
  background-color: $shade14;
}

.c-15, .c-15-hover:hover, .active .c-15-active, .active .c-15-active:hover {
  color: $shade15;
}

.bg-15, .bg-15-hover:hover, .active .bg-15-active, .active .bg-15-active:hover {
  background-color: $shade15;
}

.c-red, .c-red-hover:hover, .active .c-red-active, .active .c-red-active:hover {
  color: $red;
}

.bg-red, .bg-red-hover:hover, .active .bg-red-active, .active .bg-red-active:hover {
  background-color: $red;
}

.c-green, .c-green-hover:hover, .active .c-green-active, .active .c-green-active:hover {
  color: $green;
}

.bg-green, .bg-green-hover:hover, .active .bg-green-active, .active .bg-green-active:hover {
  background-color: $green;
}

.c-blue, .c-blue-hover:hover, .active .c-blue-active, .active .c-blue-active:hover {
  color: $blue;
}

.bg-blue, .bg-blue-hover:hover, .active .bg-blue-active, .active .bg-blue-active:hover {
  background-color: $blue;
}
