.dvn, .dan {
  height: 0px;
}
.dvxxxxs, .daxxxxs {
  height: $dimension-xxxxs;
}
.dvxxxs, .daxxxs {
  height: $dimension-xxxs;
}
.dvxxs, .daxxs {
  height: $dimension-xxs;
}
.dvxs, .daxs {
  height: $dimension-xs;
}
.dvs, .das {
  height: $dimension-s;
}
.dvm, .dam {
  height: $dimension-m;
}
.dvl, .dal {
  height: $dimension-l;
}
.dvxl, .daxl {
  height: $dimension-xl;
}
.dvxxl, .daxxl {
  height: $dimension-xxl;
}
.dvxxxl, .daxxxl {
  height: $dimension-xxxl;
}
.dvxxxxl, .daxxxxl {
  height: $dimension-xxxxl;
}
.dvxxxxxl, .daxxxxxl {
  height: $dimension-xxxxxl;
}

.dhn, .dan {
  width: 0px;
}
.dhxxxxs, .daxxxxs {
  width: $dimension-xxxxs;
}
.dhxxxs, .daxxxs {
  width: $dimension-xxxs;
}
.dhxxs, .daxxs {
  width: $dimension-xxs;
}
.dhxs, .daxs {
  width: $dimension-xs;
}
.dhs, .das {
  width: $dimension-s;
}
.dhm, .dam {
  width: $dimension-m;
}
.dhl, .dal {
  width: $dimension-l;
}
.dhxl, .daxl {
  width: $dimension-xl;
}
.dhxxl, .daxxl {
  width: $dimension-xxl;
}
.dhxxxl, .daxxxl {
  width: $dimension-xxxl;
}
.dhxxxxl, .daxxxxl {
  width: $dimension-xxxxl;
}
.dhxxxxxl, .daxxxxxl {
  width: $dimension-xxxxxl;
}

.dvn-max, .dan-max {
  max-height: 0px;
}
.dvxxxxs-max, .daxxxxs-max {
  max-height: $dimension-xxxxs;
}
.dvxxxs-max, .daxxxs-max {
  max-height: $dimension-xxxs;
}
.dvxxs-max, .daxxs-max {
  max-height: $dimension-xxs;
}
.dvxs-max, .daxs-max {
  max-height: $dimension-xs;
}
.dvs-max, .das-max {
  max-height: $dimension-s;
}
.dvm-max, .dam-max {
  max-height: $dimension-m;
}
.dvl-max, .dal-max {
  max-height: $dimension-l;
}
.dvxl-max, .daxl-max {
  max-height: $dimension-xl;
}
.dvxxl-max, .daxxl-max {
  max-height: $dimension-xxl;
}
.dvxxxl-max, .daxxxl-max {
  max-height: $dimension-xxxl;
}
.dvxxxxl-max, .daxxxxl-max {
  max-height: $dimension-xxxxl;
}
.dvxxxxxl-max, .daxxxxxl-max {
  max-height: $dimension-xxxxxl;
}

.dhn-max, .dan-max {
  max-width: 0px;
}
.dhxxxs-max, .daxxxs-max {
  max-width: $dimension-xxxs;
}
.dhxxxxs-max, .daxxxxs-max {
  max-width: $dimension-xxxxs;
}
.dhxxs-max, .daxxs-max {
  max-width: $dimension-xxs;
}
.dhxs-max, .daxs-max {
  max-width: $dimension-xs;
}
.dhs-max, .das-max {
  max-width: $dimension-s;
}
.dhm-max, .dam-max {
  max-width: $dimension-m;
}
.dhl-max, .dal-max {
  max-width: $dimension-l;
}
.dhxl-max, .daxl-max {
  max-width: $dimension-xl;
}
.dhxxl-max, .daxxl-max {
  max-width: $dimension-xxl;
}
.dhxxxl-max, .daxxxl-max {
  max-width: $dimension-xxxl;
}
.dhxxxxl-max, .daxxxxl-max {
  max-width: $dimension-xxxxl;
}
.dhxxxxxl-max, .daxxxxxl-max {
  max-width: $dimension-xxxxxl;
}

.lhn {
  line-height: 0px;
}
.lhxxxxs {
  line-height: $dimension-xxxxs;
}
.lhxxxs {
  line-height: $dimension-xxxs;
}
.lhxxs {
  line-height: $dimension-xxs;
}
.lhxs {
  line-height: $dimension-xs;
}
.lhs {
  line-height: $dimension-s;
}
.lhm {
  line-height: $dimension-m;
}
.lhl {
  line-height: $dimension-l;
}
.lhxl {
  line-height: $dimension-xl;
}
.lhxxl {
  line-height: $dimension-xxl;
}
.lhxxxl {
  line-height: $dimension-xxxl;
}
.lhxxxxl {
  line-height: $dimension-xxxxl;
}
.lhxxxxxl {
  line-height: $dimension-xxxxxl;
}
