<div id="content-side">
	<div class="header">Websites</div>
	<div class="pam">
		<div class="article">
			<a href="http://ingamefame.com">
				<div class="thumbnail">
					<img src="http://ingamefame.com/old/Logo.png"/>
				</div>
			</a>
			<div class="link">
				<a href="http://ingamefame.com">In Game Fame</a>
			</div>
		</div>
		<div class="article">
			<a href="http://www.puggit.com">
				<div class="thumbnail" style="background-color: #fff">
					<img src="http://puggit.com/logo.png"/>
				</div>
			</a>
			<div class="link">
				<a href="http://www.puggit.com">Puggit</a>
			</div>
		</div>
	</div>
	<div class="header">Projects</div>
	<div class="pam">
		<div class="article">
			<div class="thumbnail">
				<img src="http://superjova.com/updated/images/cover_photo.jpg"/>
			</div>
			<div class="link">
				<a href="#">CS 426 - Pinball</a>
			</div>
		</div>
	</div>
	<div class="header">Links</div>
	<div class="pam">
		<div class="article">
			<a href="http://brandoarts.com">
				<div class="thumbnail" style="background-color: #fff">
					<img src="http://brandoarts.com/images/logo.png"/>
				</div>
			</a>
			<div class="link">
				<a href="http://brandoarts.com">Brando Arts</a>
			</div>
		</div>
	</div>
</div>