<div class="container phs">
  <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
    CORE TEAM
  </div>
  <div class="row nmhxs">
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="relative square">
          <div class="absolute fill">
            <table class="full">
              <tr>
                <td class="ptl text-center">
                  <i class="fa fa-wrench fsxxxl"></i>
                  <div class="mts c-8">Engineer</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          Paul Jovanovic
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="relative square">
          <div class="absolute fill">
            <table class="full">
              <tr>
                <td class="ptl text-center">
                  <i class="fa fa-wrench fsxxxl"></i>
                  <div class="mts c-8">Engineer</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          Ryan Kennedy
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="relative square">
          <div class="absolute fill">
            <table class="full">
              <tr>
                <td class="ptl text-center">
                  <i class="fa fa-pencil fsxxxl"></i>
                  <div class="mts c-8">Designer</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          Michael Brandonisio
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 phxs mtm">
      <div class="bg-15 bss bwas bc-13">
        <div class="relative square">
          <div class="absolute fill">
            <table class="full">
              <tr>
                <td class="ptl text-center">
                  <i class="fa fa-wrench fsxxxl"></i>
                  <div class="mts c-8">Engineer</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="lhs bg-4 c-15 fss fwl text-center">
          Adam Wiemerslage
        </div>
      </div>
    </div>
  </div>
</div>
