<div class="photo mbl pas">
	<video width="874" controls>
  	<source src="/assets/istool.webm" type="video/webm">
  	<source src="/assets/istool.mp4" type="video/mp4">
	</video>
</div>
<div id="superstars">
	<div id="stars">
		<div class="superquote">
			<img src="/assets/quote_left.png"/>
		</div>
		<div class="superstar">
			<img src="/assets/superstar.png"/>
		</div>
		<div class="superstar">
			<img src="/assets/superstar.png"/>
		</div>
		<div class="superstar">
			<img src="/assets/superstar.png"/>
		</div>
		<div class="superstar">
			<img src="/assets/superstar.png"/>
		</div>
		<div class="superstar">
			<img src="/assets/superstar.png"/>
		</div>
		<div class="superquote">
			<img src="/assets/quote_right.png"/>
		</div>
	</div>
</div>
<div id="critic">
	You
</div>
<div id="find-out">
	<%= link_to about_index_path do %>
		<div class="button-black">
			Find Out Why
		</div>
	<% end %>
</div>