<div class="photo mbl pas">
	<img src="http://superjova.com/updated/images/cover_photo.jpg"/>
</div>
<div id="content-main">
	<div class="post-header">
		Have No Fear! Superjova's Here!
	</div>
	<div class="post-subheader">
		woosh~~
	</div>
	<p>
		Superjova is an explosive combination of a sit down nerd and stand up comedian that will sweep you off your feet. Check out what Superjova has to offer you!
	</p>
</div>