<div style="background-image: url('<%= asset_path('space.jpg') %>')">
  <div class="container phs">
    <div class="pvxxxxl">
      <h1 class="man c-15 fsxxl text-center">Consulting the Extraordinary</h1>
      <h2 class="mhn mtxs mbn lhs c-13 fsm text-center">specializing in out of this world ecommerce solutions</h2>
    </div>
  </div>
</div>
<div class="pbm bss bwts bc-11">
  <div class="container phs">
    <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
      WHAT YOU GET
    </div>
    <div class="row nmhxs">
      <div class="col-sm-4 phxs">
        <div class="pas mtm bg-15 bss bwas bc-13">
          <div class="text-center">
            <div class="mts">
              <i class="fa fa-rocket fsxxxl"></i>
            </div>
            <div class="mtm fsl fwl">
              Engineering
            </div>
          </div>
          <div class="mtxs text-justify">
            You have problems, we have solutions. Our engineering team has been actively solving problems for ecommerce and subscription web applications. There is nothing impossible when it comes to software engineering. And we would love for you to hold us to that statement!
          </div>
        </div>
      </div>
      <div class="col-sm-4 phxs">
        <div class="pas mtm bg-15 bss bwas bc-13">
          <div class="text-center">
            <div class="mts">
              <i class="fa fa-globe fsxxxl"></i>
            </div>
            <div class="mtm fsl fwl">
              Scalability
            </div>
          </div>
          <div class="mtxs text-justify">
            The performance of your application is considered from the very first line of code. We are experienced in engineering light weight applications that can scale to large numbers of requests per second. There's a whole world full of potential users out there for us to service together.
          </div>
        </div>
      </div>
      <div class="col-sm-4 phxs">
        <div class="pas mtm bg-15 bss bwas bc-13">
          <div class="text-center">
            <div class="mts">
              <i class="fa fa-gear fsxxxl"></i>
            </div>
            <div class="mtm fsl fwl">
              Customization
            </div>
          </div>
          <div class="mtxs text-justify">
            We build all the tools necessary for you to interact with your application. We believe that you should be able to control each aspect of your site without having to contact us. This customization not only makes the application powerful, but it also gives our developers time to sleep.
          </div>
        </div>
      </div>
    </div>
    <div class="pas mtm bg-15 bss bwas bc-13">
      <div class="fsl fwl text-center">
        WHY ARE WE SO SUPER?
      </div>
      <div class="row nmhxxs">
        <div class="col-sm-6 phxxs mts">
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-lightbulb-o fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We engineer solutions at the speed of light.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-tasks fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We keep track of our requirements.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-tablet fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We think responsively.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-shopping-cart fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We are battle tested in ecommerce solutions.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-shield fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We practice security in our technical implementations.
            </div>
          </div>
        </div>
        <div class="col-sm-6 phxxs mts">
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-phone fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We encourage communication.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-calendar fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We set and make realistic deadlines.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-gears fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We are easy to work with.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-beer fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We celebrate all victories.
            </div>
          </div>
          <div class="row nmhxxs mts">
            <div class="col-xs-2 phxxs text-center">
              <i class="fa fa-smile-o fa-fw fsxl"></i>
            </div>
            <div class="col-xs-10 phxxs fsxxs">
              We find happiness in our success.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pas mtm bg-4 c-15 fsl fwl text-center bss bwas bc-3">
      TECHNOLOGY
    </div>
    <div class="row nmhxs">
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-diamond"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Ruby on Rails
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-database"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  SQL Database
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-magic"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  CSS Framework
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-coffee"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  JavaScript
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-code"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  HTML5
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-credit-card"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Payment Gateway
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-exchange"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  RESTful API
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-heartbeat"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Newrelic Analytics
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-code-fork"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  GitHub
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-cloud"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Heroku Hosting
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-file-image-o"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  Amazon S3
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 phxs mtm">
        <div class="bg-15 bss bwas bc-13">
          <div class="grid-item">
            <div class="grid-item-row row nmhxxxs">
              <div class="grid-item-col col-xs-3 col-sm-12 phxxxs">
                <div class="grid-item-content relative square">
                  <div class="absolute fill">
                    <table class="full">
                      <tr>
                        <td class="text-center">
                          <i class="fa fa-certificate"></i>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="grid-item-col col-xs-9 col-sm-12 phxxxs">
                <div class="grid-item-label lhs fsxs fwl text-center">
                  SSL Secure
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
