<div id="content-main">
	<div class="title">
		<div class="main">
			PAVLE STEFAN JOVANOVIC
		</div>
		<div class="sub">
			Email: pjovan2@uic.edu | Phone: (847)651-8258
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Objective
		</div>
		<div class="section-content">
			To be great at what I do.
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Education
		</div>
		<div class="section-content">
			University of Illinois at Chicago<br/>
			Bachelor of Science in Computer Science Engineering<br/>
			Expected 2013
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Course Work
		</div>
		<div class="section-content">
			<table>
				<tr><td>Introduction to Computing</td></tr>
				<tr><td>Introduction to Programming</td></tr>
				<tr><td>Data Structures & Discrete Mathematics I</td></tr>
				<tr><td>Data Structures & Discrete Mathematics II</td></tr>
				<tr><td>Computer Architecture I</td></tr>
				<tr><td>Computer Architecture II</td></tr>
				<tr><td>Language & Automata</td></tr>
				<tr><td>Software Design</td></tr>
				<tr><td>Software Engineering I</td></tr>
				<tr><td>Computer Science Presentations</td></tr>
				<tr><td>Computer Algorithms I</td></tr>
				<tr><td>Operating Systems</td></tr>
				<tr><td>User Interface Design</td></tr>
				<tr><td>Visualization and Visual Analytics</td></tr>
				<tr><td>Computer Ethics</td></tr>
				<tr><td>Database Systems</td></tr>
				<tr><td>Computer Systems</td></tr>
				<tr><td>Video Game Design</td></tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Websites
		</div>
		<div class="section-content">
			<table>
				<tr>
					<td>
						superjova.com
					</td>
				</tr>
				<tr>
					<td>
						ingamefame.com
					</td>
				</tr>
				<tr>
					<td>
						puggit.com
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Skills
		</div>
		<div class="section-content">
			<b>SUPERIOR</b>
			<ul>
				<li>UI Design</li>
				<li>Mobile App Design</li>
				<li>CSS</li>
				<li>HTML/HAML</li>
				<li>JavaScript</li>
				<li>jQuery</li>
				<li>Comic Relief</li>
				<li>Teamwork</li>
			</ul>
			<b>MAJOR</b>
			<ul>
				<li>C/C++</li>
				<li>Java</li>
				<li>PHP</li>
				<li>Ruby/Rails</li>
				<li>RSpec</li>
				<li>SQL</li>
				<li>MongoDB</li>
			</ul>
			<b>MINOR</b>
			<ul>
				<li>Django</li>
				<li>x86 Assembly</li>
				<li>Jasmine</li>
				<li>Phantomjs</li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Work Experience
		</div>
		<div class="section-content">
			<table class="table-list">
				<tr>
					<td>
						<div class="section-header"><b>VAIL Systems</b> | Web Intern | May 2012 - Present</div>
						<p>
							Was responsible for creating a web API for a VOIP cell phone application. The API itself was written in Ruby using the Rails framework. The API accesses both SQL and Mongo databases to collect text message and voicemail data for the client. Currently redesigning the cell phone app interface via css, html, javascript, and jQuery to work on all devices.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header"><b>teamfind Inc.</b> | Front End Developer | June - September 2012</div>
						<p>
							Hired to aid in front end development. Created user friendly web applications through css, javascript, jQuery. Improved the percent of new user conversion. Collaborate all work through vcs. 
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header"><b>EXACT Sports</b> | Web Developer | Sept 2011 - May 2012</div>
						<p>
							Promoted from an intern because of the high quality level of my work. Was able to take my superior's ideas and display them on the web. Assigned lead of a project to display athletes' data in a well-organized and user-friendly form. Created a dashboard for users to keep track of the mental capabilities of their players with html, css, javascript, and php. Imported useful jQuery libraries to give the user a familiar online experience that ran parallel with today's standards. Participated in daily status meetings to keep my team up to date on any changes. Accepted criticism of my work. 
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header"><b>eMagination Camps</b> | Tech. Counselor | June - July 2012</div>
						<p>
							Led daily classes in Java, Flash Animation, Game Design, and Digital Music Creation. Assembled and disassembled the classroom labs. Responsible for organizing fun activities for the campers outside the classroom. Ensured camper safety. 
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			About Me
		</div>
		<div class="section-content">
			I consider myself a creative thinker who constantly is coming up with new ideas.
			I like soccer, music, video games, sketching out ideas, and spending time with friends. Comedy and quick thinking are my strong points.
		</div>
	</div>
</div>