<div id="content-main">
	<div class="photo mbl pas">
		<img src="/assets/superman_small.jpg"/>
	</div>
	<div class="post-header">
		Who is Superjova?
	</div>
	<div class="post-subheader">
		and why is he so super?
	</div>
	<p>
		 Superjova, or Paul Jovanovic, is a web developer currently attending school at the University of Illinois at Chicago. He has a passion for design and approaches each project very methodically.
	</p>
	<div class="photo mbl pas pull">
		<img src="/assets/classic.png"/>
		<div class="caption">Business First</div>
	</div>
	<p>
		Superjova is the combination of a stand up comedian and a sit down nerd.  A huge part of his personality is comedy. He is very wity and a quick thinker. These skills come in handy while on the job, too. Superjova is independent, but also fits into any group. He's that kind of guy that you wouldn't mind getting stranded on a deserted island with.
	</p>
	<p>
		Besides his award winning attitude, Superjova should also be nominated for employee of the month.  He gets his work done on time and beyond expectations.  He is a creative thinker. He is always coming up with new ideas to change the world.
	</p>
	<p>
		Superjova loves Pumpkin Pie!
	</p>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Birth
	</div>
	<div class="photo mbl pas">
		<img src="/assets/pirate_baby.jpg"/>
		<div class="caption">Born a Pirate</div>
	</div>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Youth
	</div>
	<div class="photo mbl pas">
		<img src="/assets/street_fighters.jpg"/>
		<div class="caption">Caught Up in a Gang</div>
	</div>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Present
	</div>
	<div class="photo mbl pas">
		<img src="/assets/ghetto.jpg"/>
		<div class="caption">^ Lives in the Hood</div>
	</div>
</div>