<div id="content-main">
	<div class="photo mbl pas">
		<img src="http://superjova.com/updated/images/superman_small.jpg"/>
	</div>
	<div class="post-header">
		Who is Superjova?
	</div>
	<div class="post-subheader">
		and why is he so super?
	</div>
	<p>
		 Superjova, or Paul Jovanovic, is a web developer currently attending school at the University of Illinois at Chicago. He has a passion for design and approaches each project very methodically.
	</p>
	<div class="photo mbl pas pull">
		<img src="/assets/classic.png"/>
		<div class="caption">Business First</div>
	</div>
	<p>
		Superjova's great sense of humor makes it easy for him to fit into any group! When times are tough, Superjova still maintains an optimistic attitude and continues to function at 100%.  He doesn't know the meaning of being unhappy. He doesn't know the meaning of quitting.  He doesn't know what clothes to wear each day and it is a true struggle for him. If you could find it in your heart, donate a few dollars towards the Superjova Superclothing Foundation. That would be a great help to him and it would be much appreciated.
	</p>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Birth
	</div>
	<div class="photo mbl pas">
		<img src="http://superjova.com/updated/images/ghetto.jpg"/>
		<div class="caption">Born a Pirate</div>
	</div>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Youth
	</div>
	<div class="photo mbl pas">
		<img src="/assets/street_fighters.jpg"/>
		<div class="caption">Caught Up in a Gang</div>
	</div>
	<div class="post-header">
		Tale of Superjova
	</div>
	<div class="post-subheader">
		Present
	</div>
	<div class="photo mbl pas">
		<img src="http://superjova.com/updated/images/ghetto.jpg"/>
		<div class="caption">^ lives in the hood</div>
	</div>
</div>