<div id="content-main">
	<div class="spacegate">
		<div class="spacegate-inner">
			<div class="photo mbl pas">
				<img src="http://superjova.com/updated/images/superman_small.jpg"/>
			</div>
		</div>
		<div class="spacegate-top"></div>
		<div class="spacegate-bottom"></div>
	</div>
	<div class="post-header">
		Who is Superjova?
	</div>
	<div class="post-subheader" style="text-align:right;">
		<i>and why is he so super?</i>
	</div>
	<p>
		 Superjova, or Paul Jovanovic, is a web developer currently attending school at the University of Illinois at Chicago. He has a passion for design and approaches each project very methodically.
		Superjova makes work easy!
		<br/>
		Having a great sense of humor makes it easy to fit into any group. Superjova is a great member of any team or family, make sure to tell your friends.
		Origin of Superjova
		<br/>
		Supernova + Jovanovic = Superjova
		<br/>
		<div class="spacegate">
			<div class="spacegate-inner">
				<div class="photo mbl pas">
					<img src="http://superjova.com/updated/images/ghetto.jpg"/>
					<div class="caption">^ from the streets</div>
				</div>
			</div>
			<div class="spacegate-top"></div>
			<div class="spacegate-bottom"></div>
		</div>
	</p>
</div>