/*
*= require_self
*/

@import "config/colors";
@import "config/borders";
@import "config/dimensions";
@import "config/fades";
@import "config/fonts";
@import "config/rounds";
@import "config/spaces";
@import "layout/bootstrap-custom";
@import "font-awesome";

html
  {

  body {
    @import "atoms/bordering";
    @import "atoms/coloring";
    @import "atoms/dimensioning";
    @import "atoms/fading";
    @import "atoms/fonting";
    @import "atoms/layout";
    @import "atoms/spacing";
    @import "atoms/rounding";

		a, a:focus {
			outline: 0;
		}
	}
}

@font-face {
  font-family: 'icomoon';
  src:url('http://s3.amazonaws.com/popjova/fonts/icomoon.eot?lquikg');
  src:url('http://s3.amazonaws.com/popjova/fonts/icomoon.eot?#iefixlquikg') format('embedded-opentype'),
    url('http://s3.amazonaws.com/popjova/fonts/icomoon.woff?lquikg') format('woff'),
    url('http://s3.amazonaws.com/popjova/fonts/icomoon.ttf?lquikg') format('truetype'),
    url('http://s3.amazonaws.com/popjova/fonts/icomoon.svg?lquikg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-popjova:before {
  content: "\e600";
}
