<div id="content-main">
	<div class="section">
		<div class="section-title">
			Whistlephone
			<div class="pas">
				<img src="https://www.whistlephone.com/images/whistle_logo_blu.png"/>
			</div>
		</div>
		<div class="section-content">
			<table class="table-list">
				<tr>
					<td>
						<div class="section-header">SMS Retrival API</div>
						<p>
							Developed an API for SMS retrival for the Whistle Phone application using <b>Ruby on Rails</b>. Return data as <b>JSON</b> which the client used to figure out what texts needed to be collected.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header">Ruby Development</div>
						<p>
							Aided in <b>Ruby</b> development of additional features for the Whistle Phone application. Such features include, but are not limited to, subscriptions, voicemail, texting, navigation, account settings.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header">Mobile App Design</div>
						<p>
							Redesigned the mobile application for Whistle Phone. Used <b>HTML</b>, <b>CSS</b>, <b>jQuery</b>, and <b>Ruby</b> to create a better mobile experience for our end users.  The account section of the mobile app was reworked so users could navigate faster between actions. Also, all options within the account section are more readily available for the user to select through.  The application itself is done through an embedded browser and allows the account section to be cross-platform accessible
						</p>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/whistlephone_menu.png"/>
								</div>
							</div>
						</div>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/whistlephone_call_forwarding.png"/>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Teamfind
			<div class="pas">
				<img src="https://www.teamfind.com/assets/teamfind_small-ec644892f25b8cfce04c1b5bd53b50f9.png"/>
			</div>
		</div>
		<div class="section-content">
			<table class="table-list">
				<tr>
					<td>
						<div class="section-header">New User Funnel</div>
						<p>
							Created more efficient paths for new users.  Created a dashboard for new users to alert them what they still needed to complete in order to finish the account creation set up.  Used <b>jQuery</b>, <b>HTML</b>, and <b>CSS</b> to achieve such efficiency.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header">Front End Development & Design</div>
						<p>
							Created guild, find guilds, team, find teams, character, account, and landing pages.
						</p>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/teamfind_guild.png"/>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			In Game Fame
			<div style="background-color: #282828">
				<img src="http://ingamefame.com/old/Logo.png"/>
			</div>
		</div>
		<div class="section-content">
			<table class="table-list">
				<tr>
					<td>
						<div class="section-header">Idea</div>
						<p>
							The idea of In Game Fame is for all types of gamers to be able to compete for cash prizes in tournaments. These tournaments would be automated in a way that users would not have to do anything besides sign up and play. There is a client that so far can tell the winner of a Starcraft II game and send that information to our database. The interface of the client is not finished.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header">Front End Development & Design</div>
						<p>
							Created page templates.
						</p>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/igf_home.png"/>
								</div>
							</div>
						</div>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/igf_profile.png"/>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-title">
			Puggit
			<div class="pas">
				<img src="http://puggit.com/logo.png"/>
			</div>
		</div>
		<div class="section-content">
			<table class="table-list">
				<tr>
					<td>
						<div class="section-header">Idea</div>
						<p>
							A place for gamers to find others to play with.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="section-header">Front End Development & Design</div>
						<p>
							Created home page.
						</p>
						<div class="spacegate">
							<div class="spacegate-top"></div>
							<div class="spacegate-bottom"></div>
							<div class="spacegate-inner">
								<div class="photo mbl pas">
									<img src="/assets/puggit_home.png"/>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>